@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
body {
    font-family: "Outfit", sans-serif;
}
main {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: hsl(212, 45%, 89%);
}
.wrapper {
    max-width: 20.313rem;
    background: white;
    border-radius: 15px;
    padding: 18px;
    box-shadow: 0 50px 100px lightgrey;
}
.qr-code {
    display: block;
    width: 290px;
    border-radius: 10px;
}
.content {
    margin: auto;
    text-align: center;
    padding: 20px;
}
.heading {
    padding-bottom: 15px;
    color: hsl(218, 44%, 22%);
    font-size: 1.344rem;
}
.info {
    color: hsl(220, 15%, 55%);
    font-size: 0.938rem;
}
